body {
    background-image: url("../images/main_background.jpg");
    background-color: #cccccc;
    text-align: center;
}
.header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.report{
    width: 70rem;
    height: 45rem;
    background-color: #187180;
    position: absolute;
    margin-left: 330px;
    margin-top: 0px;
    font-size: 24px;
    color: white;
    border-radius: 10px;
}

.report h3{
    text-align: left;
    margin-left: 25px;
}

.context_box {
    width: 60rem;
    height: 35rem;
    background-color: #757a79;
    margin-left: 80px;
    border-radius: 20px;
    border: 3px solid black;
    justify-content: center;
    display: flex;
    
}

.context_main{
    height: 310px;
    width: 500px;
    margin-top: 80px;
    margin-left: 20px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 100px;
    background-color: #dadcd0;
}

#search_id{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 24px;
    margin: 20px 20px 20px 30px;
    display: flex;
    padding-left: 10px;

}


#submit_btn{
      background-color: #13aa52;
      border: 1px solid #13aa52;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      outline: 0;
      padding: 10px 25px;
      text-align: center;
      margin-top: 20px;
}

#submit_btn:hover{
    margin-top: 15px;
    color: yellow;
}
    

.footer_note{
    padding-top: 100px;
    height: 300px;
    width: 500px;
}

.footer_note h1{
    font-weight: 20px;
    color: black;
}

::placeholder{
    color: gray;
}





.header{
    padding-top: 25px;
    padding-left: 30px;
    justify-content: left;
    background-color: #187180;
    width: 17rem;
    height: 80px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
}

.name_role{
    padding-top: 8px;
    margin-left: 10px;
    justify-content: left;
    color: #ecf3e2;
}

.header h3{
    margin: 0;
    font-size: 1rem;
    display: flex;
    font-weight: 25px;
}
.header h4{
    margin: 0;
    font-size: 14px;
    display: flex;
}


.options{
    margin-top: 20px;
    background-color: #187180;
    width: 200px;
    height: 230px;
    border-radius: 20px;
    justify-content: center;
}
.options h2{
    padding: 10px 0 5px 0;
    margin: 0;
    padding-top: 20px;
    color: #ecf3e2;
    text-transform: uppercase;
}

.line{
    width: 150px;
    height: 3px;
    background-color: #cdcfc0;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px
}

.options a{
    padding: 5px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #ecf3e2;
}

.options a:hover{
    font-size: 18px;
    color: yellow;
}

.portal{
    margin-top: 10%;
    width: 150px;
    height: 300px;
    background-color: #187180;
    justify-content: center;
    text-align: center;
}